logino {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}



.header {
  background-color:  #FFFFFF;
  padding: 20px;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
div {
  padding: 70px;
  border: 2px solid #9b9b9b;
}

photo {
  float: right;
}


textrei {
  position: absolute;
  left: 100px;
  top: 150px;
}
